/* universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets color of page */
body {
    background-color: #111;
}

/* header styling */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #222;
    color: #fff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* link styling */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #fff;
    text-decoration: none;
}
/* styling below header */
.about {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* for placing headshot */
.float-left {
    float: left;
    margin-right: 25px;
}

/* <p> element styling */
p {
    font-size: 16px;
}

/* styling for ABOUT ME */
.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.about-me img {
    max-height: 200px;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styling for CONTACT ME */
.contact {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact h2 {
    text-align: center;
    margin-bottom: 64px;
    color: #fff;
}
.contact-me {
    margin-bottom: 64px;
    color: #ffffff;
}
.contact-me h3 {
    margin-bottom: 10px;
    text-align: center;
}
.contact-me img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styling for WORK */
.work {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* footer styling */
footer {
    background-color: #222;
    color: #fff;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}