/* universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets color of page */
body {
    background-color: #111;
}

/* header styling */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #222;
    color: #fff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* link styling */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #fff;
    text-decoration: none;
}
